@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
  background-color: rgb(103, 0, 154);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s;
}

input{
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;

}

input:focus{
  border: none;
  outline: none;
}

button:hover{
  cursor: pointer;
  background-color: rgb(89, 0, 133);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
